<!DOCTYPE html>
<% include partials/header %>

<style type="text/css">
  .current{
    background: grey;
  }
  .present{
    background: #49892a;
  }
  .absent{
    background: #f04c3b;
  }
  .att-card{
    padding: 0.2em;
    text-align: center;
    font-size: 1.2em;
  }
  .att-cont{
    outline:none;
  }
  .selected{
    background: grey;
  }
  .settings-card{
    padding: 4em;

  }
  .special-settings-card{
    padding: 2em;

  }
  .btn-floating.btn-large {
    width: 56px !important;
    height: 56px;
    background-color: crimson !important;
  }
  .btn-floating.btn-large i {
    line-height: 56px;
  }
  .btn-large i {
    font-size: 1.5rem;
  }
  .marked-heading{
  font-size: 1em;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  font-weight: 900;
  color: #999;
}
.heading{
  font-size: 2.5em;
  text-align: center;
  font-weight: 200;
  color: teal;
}
 .headingsm{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: darkcyan;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

 .headingsub {
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  } 
 .submitbtn {
  display: inline-block;
  padding: 8px 12px 8px 12px;
  margin:-15px;
  background-color: crimson;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  transition: .2s ease-out;
    transition-property: initial;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: initial;
}

.submitbtn:hover {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

.submitbtn-bottom:hover {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

.submitbtn-bottom {
  display: inline-block;
  padding: 8px 12px 8px 12px;
  text-align: center;
  width: 100%;
  background-color: crimson;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  transition: .2s ease-out;
    transition-property: initial;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: initial;
}

@media screen and (max-width: 720px) {
.responsive-rows {
  display: block !important;
}
}
.responsive-rows:hover {
  background-color: #fbfbfb!important;
}

.responsive-td {
  padding: 15px 5px!important;
  font-size: 15px!important;
  font-family: Lato;
}

.bluelabel {
  color: teal;
  font-size: 15px;
}

.strong {
  font-weight: bold;
}


</style>

  <div class="container-fluid">
  <div class="row">

        <div class="heading col-sm-12 subject_name"></div>
        <div class="headingsub col-sm-12 subject_code"></div>
        <div class="col-sm-12 headingsub center-align">
        <div class="course" style="display: inline-block;"></div>
        <div class="stream" style="display: inline-block;"></div>
        Semester
        <div class="semester" style="display: inline-block;"></div>
      </div>
    </div>
  </div>

<div class="container">

<form id="attendance_register" method="POST">


  <div class="row">


    <div class="col-md-4 card">

    <div id="lecture_details" class="">
      <br>
      <p class="marked-heading">LECTURE DETAILS :</p>
      <br>
      <label for="datepicker" class="bluelabel">Date :</label>
      <input type="text" id="datepicker" class="datepicker" name="date_of_attendance">
      <script type="text/javascript">
         var date = $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: true, // Close upon selecting a date,
            max: 'Today'
          });
      </script>

      <!-- <input type="date" id="datepicker" class="datepicker" name="date_of_attendance" required> -->
      <br><br>

      <label for="timepicker" class="bluelabel">Time At Which Lecture Started :</label>
      <input id="timepicker" type="text" class="timepicker" name="time_of_attendance">
      <!-- <input id="timepicker" class="timepicker" name="time_of_attendance" type="time"> -->
      <script type="text/javascript">
          $('.timepicker').pickatime({
            default: 'now', // Set default time: 'now', '1:30AM', '16:30'
            fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
            twelvehour: true, // Use AM/PM or 24-hour format
            autoclose: false, // automatic close timepicker
            ampmclickable: true, // make AM PM clickable
          });
      </script>
      <br><br>

      <label class="bluelabel">Duration of lecture in hours:</label>
      <div class="row center">
        <br>
        <input name="duration_of_lecture" type="radio" id="test1" value="1" />
        <label for="test1">1</label> &nbsp;&nbsp;
        <input name="duration_of_lecture" type="radio" id="test2" value="2"  />
        <label for="test2">2</label> &nbsp;&nbsp;
        <input name="duration_of_lecture" type="radio" id="test3" value="3" />
        <label for="test3">3</label> &nbsp;&nbsp;
        <input name="duration_of_lecture" type="radio" id="test4" value="4" />
        <label for="test4">4</label> &nbsp;&nbsp;
      </div>
      <br>
    </div>
    <div class="subject-details hide-on-med-and-down">
    <div class="divider"></div>
    <h2 class="marked-heading">SUBJECT DETAILS :</h2>
    <table>
      <tr><td style="font-weight: bold;">Subject Name :</td>
      <td class="subject_name"></td></tr>

      <tr><td style="font-weight: bold;">Teacher Name :</td>
      <td class="teacher_name"></td></tr>

      <tr><td style="font-weight: bold;">Subject Code :</td>
      <td class="subject_code"></td></tr>

      <tr><td style="font-weight: bold;">Teacher ID :</td>
      <td class="teacher_code"></td></tr>

      <tr><td style="font-weight: bold;">Course :</td>
      <td class="course"></td></tr>

      <tr><td style="font-weight: bold;">Stream :</td>
      <td class="stream"></td></tr>

      <tr><td style="font-weight: bold;">Semester : </td>
      <td class="semester"></td></tr>

      <tr><td style="font-weight: bold;">Type : </td>
      <td class="type"></td></tr>


    </table>
  </div>
    <script type="text/javascript">
      $(document).ready(function(){
        var subject_id = <%- JSON.stringify(subject_id) %>;
        $.get("/teacher/get_subject_details/"+subject_id, function(data){
          // data = JSON.parse(data)
          $(".subject_code").append(data.subject_code);
          $(".subject_name").append(data.subject_name);
          $(".teacher_name").append(data.name);
          $(".teacher_code").append(data.instructor_code);
          $(".course").append(data.course);
          $(".stream").append(data.stream);
          $(".semester").append(data.semester);
          $(".type").append(data.type);
        })

      })
    </script>


  </div>



    <div class="col-md-8 card">


      <div class="material-table">
        <div class="table-header">
          <span class="table-title"><span class="hide-on-med-and-down">Mark</span> Attendance For <span class="subject_code"></span></span>
          <div class="actions">
            <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
          </div>
        </div>

        <table id="datatable" class="striped centered responsive-table">
          <thead class="hide-on-med-and-down">
            <tr>
              <th class="responsive-td">Roll No.</th>
              <th class="responsive-td">Name</th>
              <th class="responsive-td">Past Attendance</th>

              <th class="responsive-td">Attendance</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<students.length ; ++i){ %>
            <tr class="responsive-rows">
             
              <td class="responsive-td"><%=students[i]['enrollment_no']%></td>
              <td class="responsive-td strong"><%=students[i]['name']%></td>
              <td class="responsive-td attendance_history" style="overflow-x: scroll; text-overflow: '-'!important"><%=students[i]['enrollment_no']%></td>
              <td class="responsive-td">
              <form id="radio_<%=students[i]['enrollment_no']%>">
                <input id="present_<%=students[i]['enrollment_no']%>" type="radio" class="attendance_present" name="<%=students[i]['enrollment_no']%>" value="P"/>
                <label for="present_<%=students[i]['enrollment_no']%>">P</label>
                <% if(typeof edit_mode  !== 'undefined' && edit_mode){ %>
                  <input id="absent_<%=students[i]['enrollment_no']%>" type="radio" class="attendance_absent" name="<%=students[i]['enrollment_no']%>" value="A"/>
                <% }else{ %>
                  <input id="absent_<%=students[i]['enrollment_no']%>" type="radio" class="attendance_absent" name="<%=students[i]['enrollment_no']%>" value="A"/>
                <% } %>

                <label for="absent_<%=students[i]['enrollment_no']%>">A</label>
                <input id="na_<%=students[i]['enrollment_no']%>" type="radio" class="attendance_na" name="<%=students[i]['enrollment_no']%>" value="NA" checked/>
                <label for="na_<%=students[i]['enrollment_no']%>">N/A</label>
              </form>

              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        
      </div>
      <br>
      <div class="submit submitbtn-bottom" >
            SUBMIT ATTENDANCE
      </div>
      <br>
      <br>


    </div>

         
  


<div class="submit fixed-action-btn hide-on-med-and-down">
    <a>
    <div class="btn-floating btn-large"><i class="large material-icons">send</i></div>
  </a>
</div>

</form>

<div id="confirm_modal" class="modal">
  <div class="modal-content" style="text-align: center;">
    <h4>Are you sure?</h4>
    <p>You are marking attendance for</p>
    <p>
      Date: <span id="date"></span><br>
      Time: <span id="time"></span><br>
      Duration (in hours): <span id="duration"></span><br>
      Number of students Present(P): <span id="present"></span><br>
      Number of students Absent(A): <span id="absent"></span><br>
      Number of students Not Applicable(N/A): <span id="na"></span><br>
    </p>
  </div>
  <div class="modal-footer">
    <a id="confirm_submit" class="modal-action waves-effect waves-green btn-flat">Agree</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Disagree</a>
  </div>
</div>


</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript">
  <% if(typeof edit_mode  !== 'undefined' && edit_mode){ %>
      $(document).ready(function(){
      var attendance = <%- JSON.stringify(attendance) %>
      var date = new Date("<%-lecture%>")
      var duration_of_class = attendance[0].duration_of_class;


      $("#datepicker").val("<%- moment(new Date(lecture)).format("DD MMMM, YYYY") %>")
      $("#timepicker").val("<%- moment(new Date(lecture)).format("HH:mma") %>")
      $('input[name="duration_of_lecture"]')[duration_of_class - 1].checked = true;
      $("#lecture_details > input").prop('disabled', true);

      $.each(attendance, function(index, value){
        if(value.attendance === 'P'){
          table.$('#present_'+value.student).prop('checked', true);
        }else if(value.attendance === 'A'){
          table.$('#absent_'+value.student).prop('checked', true);
        }else if(value.attendance === 'NA'){
          table.$('#na_'+value.student).prop('checked', true);
        }
      });


      });

    <% } %>
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal();
    // var table = get_table();

    var date;
    var time;
    var hours;
    var present = [];
    var absent = [];
    var na = [];
    var bid = <%- JSON.stringify(batch_id) %>
    var sid = <%- JSON.stringify(subject_id) %>

    $("#confirm_submit").click(function(event){

      $("#confirm_submit").attr('disabled', true)
      

      $.ajax({
        type: "POST",
        <% if(typeof edit_mode  !== 'undefined' && edit_mode){ %>
          url: '/teacher/edit_attendance/' + bid + '/' + sid + '/<%=lecture%>',
        <% }else{ %>
          url: '/teacher/attendance/' + bid + '/' + sid,
        <% } %>
        data: {
          "date" : date,
          "time" : time,
          "hours" : hours,
          "present" : JSON.stringify(present),
          "absent" : JSON.stringify(absent),
          "na" : JSON.stringify(na)
        },
        success: function(data, status, xhr){
          $('#confirm_modal').modal('close');
          $('main').html(data);
        },
        error: function(xhr, status, error){
          $("#confirm_submit").attr('disabled', false)
          alert("Error.")
        }
      });
    })

    $(".submit").click(function(event){
      
      date="";
      time="";
      hours="";
      present = [];
      absent = [];
      na = [];

      if($('#datepicker').val() == undefined || $('#datepicker').val() == ""){
        alert('Please Enter Date');
        return;
      }else{
        date = $('#datepicker').val();
      }

      if($('#timepicker').val() == undefined || $('#timepicker').val() == ""){
        alert('Please Enter Time');
        return;
      }else{
        time = $('#timepicker').val();
      }

      if($('input[name=duration_of_lecture]:checked').val() == undefined || $('input[name=duration_of_lecture]:checked').val() == ""){
        alert('Please Enter Duration of lecture');
        return;
      }else{
        hours = $('input[name=duration_of_lecture]:checked').val();
      }


      table.$("input[class=attendance_present]:checked").each(function(){
        present.push(this.name);
      })


      table.$("input[class=attendance_absent]:checked").each(function(){
        absent.push(this.name);
      })


      table.$("input[class=attendance_na]:checked").each(function(){
        na.push(this.name);
      })

      $('#date').html(date)
      $('#time').html(time)
      $('#duration').html(hours)
      $('#present').html(present.length)
      $('#absent').html(absent.length)
      $('#na').html(na.length)


      $('#confirm_modal').modal('open');

    });

    $.ajax({
        type: "GET",
        url: '/api/' + sid + '/attendanceByStudent/',
        success: function(data, status, err){
          attendance = {};
          for(i in data) {
            attendance[i] =  [];
            for(k in data[i])
              attendance[i].push(data[i][k]['att']);
            $( ".attendance_history:contains('" + i + "')" ).html(attendance[i]);

          } 
          
        }
      });

  });

  // var myEvent = window.attachEvent || window.addEventListener;
  // var chkevent = window.attachEvent ? 'onbeforeunload' : 'beforeunload'; /// make IE7, IE8 compatable

  // myEvent(chkevent, function(e) { // For >=IE7, Chrome, Firefox
  //     var confirmationMessage = ' ';  // a space
  //     (e || window.event).returnValue = confirmationMessage;
  //     return confirmationMessage;
  // });

</script>

<% include partials/footer %>
