<!DOCTYPE html>

<style type="text/css">
  .date-attendance{
    text-align: left;
  }
  .attendance-heading{
    font-size: 3em;
    text-align: center;
    font-weight: 200;
    color: teal;
  }
  .marked-heading{
    font-size: 1.1em;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: 900;
    color: darkslategray;
  }
</style>

<% include partials/pathnav %>

<div class="container">
  <div class="row">
    <p class="attendance-heading">ATTENDANCE MARKED SUCCESSFULLY</p>
    <div class="col-md-4 date-attendance">
    <table>
      <tr>
        <td>Lecture Date:</td>
        <td><%=date.toDateString()%></td>
      </tr>
      <tr>
        <td>Lecture Time:</td>
        <td><%=date.toLocaleTimeString()%></td>
      </tr>
      <tr>
        <td>Duration of Lecture:</td>
        <td><%=duration_of_class%> Hours</td>
      </tr>
    </table>
      
    </div>
    <div class="col-md-8">
      

      <div class="card material-table">
        <div class="table-header">
          <span class="table-title">Attendance for class</span>
          <div class="actions">
            <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
          </div>
        </div>
        <table id="datatable">
          <thead>
            <tr>
              <th>Roll Number</th>
              <th>Name</th>
              <th>Attendance</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i in attendance){ %>
              <tr>
                <td><a style="color: blue;" target="_blank" href="/teacher/attendance_marked/<%=batch_id%>/<%=subject_id%>/<%=attendance[i].student%>"><%=attendance[i].student%></a></td>
                <td><%=students[attendance[i].student].name%></td>
                <td><%=attendance[i].attendance%></td>
              </tr>
            <% } %>
          </tbody>
        </table>

      </div>


    </div>
  </div>
</div>

<script type="text/javascript" src="/javascripts/material_data_table.js"></script>