<!DOCTYPE html>
<% include partials/header %>

<div id="lecture-display" class="container">
<% if(lectures.length==0){ %>
  <h4 class="marked-heading">
    YOU HAVE NOT MARKED ANY ATTENDANCE FOR THIS SUBJECT
  </h4>
<% } else {%>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/se-1.2.2/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/se-1.2.2/datatables.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<style type="text/css">
select{
    display: initial;
    color: initial;
  }
  label{
    color: initial;
  }
.marked-heading{
    font-size: 1.1em;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: 900;
    color: darkslategray;
  }
  .heading{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: darkcyan;
    letter-spacing: 0.2em;
  }
</style>

<div class="container card" style="padding: 1em;">
<h5 class="marked-heading">SELECT LECTURE TO EDIT OR DELETE :</h5>
<table id="lectures" class="striped">
	<thead>
		<th>Lecture date and time</th>
		<th>Edit this lecture</th>
		<th>Delete this lecture</th>
	</thead>
	<tbody>
		<% for(var i=lectures.length-1; i>=0 ; --i){ 
		var lecture = new Date(lectures[i].lecture_timestamp);%>
		<tr>
			<td><%=lecture.toUTCString()%></td>
			<td><a href="/teacher/edit_attendance/<%=bid%>/<%=sid%>/<%=lectures[i].lecture_timestamp%>">Edit</a></td>
			<td><a class="delete" href="#modal1">Delete</a></td>
		</tr>
     
		<% } %>
	</tbody>
</table>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Are you sure</h4>
    <p>Do you want to delete lecture: </p>
  </div>
  <div class="modal-footer">
    <a id="agree" href="/teacher/delete_attendance/<%=bid%>/<%=sid%>/" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Disagree</a>
  </div>
</div>

</div>
<script type="text/javascript">
	$(document).ready(function(){
    $('.modal').modal();
    $(".delete").click(function(event){
      event.preventDefault();
    });
    var table = $('#lectures').DataTable({
            columns: [
                { name: 'lecture' },
                { name: 'edit' },
                { name: 'delete' }
            ]
        });
    table.on('click', 'td', function() {
      //get the initialization options
      var columns = table.settings().init().columns;
      //get the index of the clicked cell
      var colIndex = table.cell(this).index().column;
      var rowIndex = table.cell(this).index().row;
      if(columns[colIndex].name === 'delete'){
        var data = table.row(rowIndex).data();
        $('#modal1 div p').append(data[0]);
        var date = new Date(data[0]);
        var href = $('#agree').attr('href');
        $('#agree').attr('href',href+date.toISOString());
        $('#modal1').modal('open');
      }
    });
  });

</script>  
<% } %>
</div>

<% include partials/footer %>