<!DOCTYPE html>

<% include partials/header %>
<div style="width:800px; margin:0 auto;">
  <div class="attendance-heading">Attendance Marked Successfully</div>

  <div class="date-attendance"><%=date.getDate()%>/<%=date.getMonth()%>/<%=date.getFullYear()%>
  </div>
</div>
<br><br>
<div class="container">
  <div class="row">
  <div class="col-md-6">
  <div class="card" style="padding: 1em;">
  <h4 class="marked-heading">Students marked present</h4>
   <table class="striped centered">
        <thead>
        <tr>
              <th>Enrollment Number</th>
               <th>Attendance awarded</th>
          </tr>
        </thead>
        <tbody>
           <% for (var i = 0; i < students_present.length ;i++) { %>
    <tr>
      <td><%= students_present[i] %></td>
      <td><%= attendanceAwarded %></td>
    </tr>    
    <% } %>
        </tbody>
    </table>
    </div>
  </div>
  <div class="col-md-6">
  <div class="card" style="padding: 1em;">
    <h4 class="marked-heading">Students marked absent</h4>
    <table class="striped centered">
      <thead>
        <tr>
          <th>Enrollment Number</th>
          <th>Attendance awarded</th>
        </tr>
      </thead>
      <tbody>
          <% for (var i = 0; i < students_absent.length ;i++) { %>
        <tr>
          <td><%= students_absent[i] %></td>
          <td><%= attendanceAwarded %></td>
        </tr>    
          <% } %>
      </tbody>
    </table>
    </div>
  </div>  
  </div>
<!-- <h4>Students marked not applicable are: </h4>
  <h4>date: <%=date.getDate()%>/<%=date.getMonth()%>/<%=date.getFullYear()%></h4>
  <table>
   <tr>
    <th>Enrollment Number</th>
  </tr>

  <% for (var i = 0; i < students_notapplicable.length ;i++) { %>
  <tr>
    <td><%= students_notapplicable[i] %></td>
  </tr>    
  <% } %>
</table> -->
</div>


<% include partials/footer %>
<style type="text/css">
  .date-attendance{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: darkcyan;
    letter-spacing: 0.2em;
  }
  .attendance-heading{
    font-size: 3em;
    text-align: center;
    font-weight: 200;
  }
  .marked-heading{
    font-size: 1.1em;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: 900;
    color: darkslategray;
  }
</style>