<!DOCTYPE html>
<% include partials/header %>



<div class="container">
  <% if(lectures.length==0){ %>
  <h4 class="marked-heading">
    YOU HAVE NOT MARKED ANY ATTENDANCE FOR THIS SUBJECT
  </h4>
  <% } %>
  

  <div class="row">
    <div class="col-md-12">

      <div class="card material-table">
        <div class="table-header">
          <span class="table-title">Attendance for class</span>
          <div class="actions">
            <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
          </div>
        </div>
        <table id="datatable">
          <thead>
            <tr>
              <th>Lecture Date (DD/MM/YYYY)</th>
              <th>Lecture Time</th>
              <th>Edit this lecture</th>
              <th>Delete this lecture</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<lectures.length ; ++i){ 
            var date = new Date(lectures[i].lecture_timestamp);%>
            <tr>
              <td><%=  moment(date).format('DD/MM/YYYY')  %></td>
              <td><%=date.toLocaleTimeString()%></td>
              <td><a style="color: blue;" href="/teacher/edit_attendance/<%=bid%>/<%=sid%>/<%=lectures[i].lecture_timestamp%>">Edit this lecture</a></td>
              <td><a class="modal-trigger" style="color: red;" href="#modal_<%=lectures[i].lecture_timestamp%>">Delete this lecture</a></td>
            </tr>

            <% } %>
          </tbody>
        </table>

      </div>

    </div>
  </div>

  <% for(var i=0; i<lectures.length ; ++i){ 
      var date = new Date(lectures[i].lecture_timestamp);%>
  <div id="modal_<%=lectures[i].lecture_timestamp%>" class="modal">
    <div class="modal-content">
      <h4>Are you sure?</h4>
      <p>Do you want to delete lecture: </p>
      <p>Date: <%=  moment(date).format('DD/MM/YYYY')  %></p>
      <p>Time: <%=date.toLocaleTimeString()%></p>
    </div>
    <div class="modal-footer">
      <a href="/teacher/delete_attendance/<%=bid%>/<%=sid%>/<%=lectures[i].lecture_timestamp%>" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Disagree</a>
    </div>
  </div>

  <% } %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.modal').modal();
    });
  </script>


</div>




<!-- <div id="lecture-display" class="container">



<style type="text/css">
.marked-heading{
    font-size: 1.1em;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: 900;
    color: darkslategray;
  }
  .heading{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: darkcyan;
    letter-spacing: 0.2em;
  }
</style>

<div class="container card" style="padding: 1em;">
<h5 class="marked-heading">SELECT LECTURE TO EDIT OR DELETE :</h5>
<table id="datatable" class="striped">
	<thead>
		<th>Lecture date and time</th>
		<th>Edit this lecture</th>
		<th>Delete this lecture</th>
	</thead>
	<tbody>
		<% for(var i=lectures.length-1; i>=0 ; --i){ 
		var lecture = new Date(lectures[i].lecture_timestamp);%>
		<tr>
			<td><%=lecture.toUTCString()%></td>
			<td><a href="/teacher/edit_attendance/<%=bid%>/<%=sid%>/<%=lectures[i].lecture_timestamp%>">Edit</a></td>
			<td><a class="delete" href="#modal1">Delete</a></td>
		</tr>
     
		<% } %>
	</tbody>
</table>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Are you sure</h4>
    <p>Do you want to delete lecture: </p>
  </div>
  <div class="modal-footer">
    <a id="agree" href="/teacher/delete_attendance/<%=bid%>/<%=sid%>/" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Disagree</a>
  </div>
</div>

</div>
<script type="text/javascript">
	$(document).ready(function(){
    $('.modal').modal();
    $(".delete").click(function(event){
      event.preventDefault();
    });
    var table = $('#lectures').DataTable({
            columns: [
                { name: 'lecture' },
                { name: 'edit' },
                { name: 'delete' }
            ]
        });
    table.on('click', 'td', function() {
      //get the initialization options
      var columns = table.settings().init().columns;
      //get the index of the clicked cell
      var colIndex = table.cell(this).index().column;
      var rowIndex = table.cell(this).index().row;
      if(columns[colIndex].name === 'delete'){
        var data = table.row(rowIndex).data();
        $('#modal1 div p').append(data[0]);
        var date = new Date(data[0]);
        var href = $('#agree').attr('href');
        $('#agree').attr('href',href+date.toISOString());
        $('#modal1').modal('open');
      }
    });
  });

</script>  
</div> -->

<% include partials/footer %>