<!DOCTYPE html>
<% include partials/header %>



<div class="container-fluid">
  <% if(lectures.length==0){ %>
  <h4 class="marked-heading">
    YOU HAVE NOT MARKED ANY ATTENDANCE FOR THIS SUBJECT
  </h4>
  <% } %>
  
  

  <div class="row">


<div class="col-md-4 card hide-on-med-and-down">
      <h5>SUBJECT DETAILS :</h5>
    <table>
      <tr><td style="font-weight: bold;">Subject Name :</td>
      <td class="subject_name"></td></tr>
      
      <tr><td style="font-weight: bold;">Teacher Name :</td>
      <td class="teacher_name"></td></tr>

      <tr><td style="font-weight: bold;">Subject Code :</td>
      <td class="subject_code"></td></tr>

      <tr><td style="font-weight: bold;">Teacher ID :</td>
      <td class="teacher_code"></td></tr>

      <tr><td style="font-weight: bold;">Course :</td>
      <td class="course"></td></tr>

      <tr><td style="font-weight: bold;">Stream :</td>
      <td class="stream"></td></tr>

      <tr><td style="font-weight: bold;">Semester : </td>
      <td class="semester"></td></tr>
      
    </table>
    <script type="text/javascript">
      $(document).ready(function(){
        var subject_id = <%- JSON.stringify(sid) %>;
        $.get("/teacher/get_subject_details/"+subject_id, function(data){
          // data = JSON.parse(data)
          $(".subject_code").append(data.subject_code);
          $(".subject_name").append(data.subject_name);
          $(".teacher_name").append(data.name);
          $(".teacher_code").append(data.instructor_code);
          $(".course").append(data.course);
          $(".stream").append(data.stream);
          $(".semester").append(data.semester);
        })

      })
    </script>
    </div>



    <div class="col-sm-12 col-md-8">
      <div class="row hide-on-large-only">
        <div class="heading col-sm-12 subject_name"></div>
        <div class="headingsub col-sm-12 subject_code"></div>
        <div class="col-sm-12 headingsub center-align">
        <div class="course" style="display: inline-block;"></div>
        <div class="stream" style="display: inline-block;"></div>
        Semester
        <div class="semester" style="display: inline-block;"></div>
      </div>
    </div>
      <div class="card material-table">
        <div class="table-header">
          <span class="table-title">Edit Attendance</span>
          <div class="actions">
            <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
          </div>
        </div>
        <table id="datatable">
          <thead>
            <tr>
              <th>Lecture Date <span class="hide-on-med-and-down">(DD/MM/YYYY)</span></th>
              <th><span class="hide-on-med-and-down">Lecture</span> Time</th>
              <th>Edit <span class="hide-on-med-and-down">this lecture</span></th>
              <th>Delete <span class="hide-on-med-and-down">this lecture</span></th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<lectures.length ; ++i){ 
            var date = new Date(lectures[i].lecture_timestamp);%>
            <tr>
              <td><%=  moment(date).format('DD/MM/YYYY')  %></td>
              <td><%=date.toLocaleTimeString()%></td>
              <td><a style="color: blue;" href="/teacher/edit_attendance/<%=bid%>/<%=sid%>/<%=lectures[i].lecture_timestamp%>">Edit <span class="hide-on-med-and-down">this lecture</span></a></td>
              <td><a class="modal-trigger" style="color: red;" href="#modal_<%=lectures[i].lecture_timestamp%>">Delete <span class="hide-on-med-and-down">this lecture</span></a></td>
            </tr>

            <% } %>
          </tbody>
        </table>

      </div>

    </div>
  </div>

  <% for(var i=0; i<lectures.length ; ++i){ 
      var date = new Date(lectures[i].lecture_timestamp);%>
  <div id="modal_<%=lectures[i].lecture_timestamp%>" class="modal">
    <div class="modal-content">
      <h4>Are you sure?</h4>
      <p>Do you want to delete lecture: </p>
      <p>Date: <%=  moment(date).format('DD/MM/YYYY')  %></p>
      <p>Time: <%=date.toLocaleTimeString()%></p>
    </div>
    <div class="modal-footer">
      <a href="/teacher/delete_attendance/<%=bid%>/<%=sid%>/<%=lectures[i].lecture_timestamp%>" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Disagree</a>
    </div>
  </div>

  <% } %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.modal').modal();
    });
  </script>


</div>


<style type="text/css">
  .headingsub {
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  .marked-heading{
    font-size: 1.1em;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: 900;
    color: darkslategray;
  }
  .heading{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: darkcyan;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

</style>

<!-- <div id="lecture-display" class="container">



<style type="text/css">
</style>

<div class="container card" style="padding: 1em;">
<h5 class="marked-heading">SELECT LECTURE TO EDIT OR DELETE :</h5>
<table id="datatable" class="striped">
	<thead>
		<th>Lecture date and time</th>
		<th>Edit this lecture</th>
		<th>Delete this lecture</th>
	</thead>
	<tbody>
		<% for(var i=lectures.length-1; i>=0 ; --i){ 
		var lecture = new Date(lectures[i].lecture_timestamp);%>
		<tr>
			<td><%=lecture.toUTCString()%></td>
			<td><a href="/teacher/edit_attendance/<%=bid%>/<%=sid%>/<%=lectures[i].lecture_timestamp%>">Edit</a></td>
			<td><a class="delete" href="#modal1">Delete</a></td>
		</tr>
     
		<% } %>
	</tbody>
</table>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Are you sure</h4>
    <p>Do you want to delete lecture: </p>
  </div>
  <div class="modal-footer">
    <a id="agree" href="/teacher/delete_attendance/<%=bid%>/<%=sid%>/" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Disagree</a>
  </div>
</div>

</div>
<script type="text/javascript">
	$(document).ready(function(){
    $('.modal').modal();
    $(".delete").click(function(event){
      event.preventDefault();
    });
    var table = $('#lectures').DataTable({
            columns: [
                { name: 'lecture' },
                { name: 'edit' },
                { name: 'delete' }
            ]
        });
    table.on('click', 'td', function() {
      //get the initialization options
      var columns = table.settings().init().columns;
      //get the index of the clicked cell
      var colIndex = table.cell(this).index().column;
      var rowIndex = table.cell(this).index().row;
      if(columns[colIndex].name === 'delete'){
        var data = table.row(rowIndex).data();
        $('#modal1 div p').append(data[0]);
        var date = new Date(data[0]);
        var href = $('#agree').attr('href');
        $('#agree').attr('href',href+date.toISOString());
        $('#modal1').modal('open');
      }
    });
  });

</script>  
</div> -->

<% include partials/footer %>