<!DOCTYPE html>
<% include partials/header_student %>

<div class="container" style="text-align: center;">

<%= user.enrollment_no %>
<%= user.name %>
<%= user.email %>
<%= user.phone %>
<%= user.year_of_admission %>
<%= user.course %>
<%= user.stream %>

</div>
<% include partials/footer %>