<!DOCTYPE html>
<% include partials/header %>
<style type="text/css">
	.marked-heading{
		font-size: 1.1em;
		line-height: 110%;
		margin: 1.14rem 0 0.912rem 0;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		text-align: center;
		font-weight: 900;
		color: darkslategray;
	}
	.heading{
		font-size: 3em;
	    text-align: center;
	    font-weight: 200;
	    color: teal;
	}
</style>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		var enrollment_no = <%-enrollment_no%>;
		$.getJSON('/api/students/' + enrollment_no, function (data) {
			
			$('#student_enroll').append(data.enrollment_no);
			$('.student_name').append(data.name);
			$('#student_course').append(data.course);
			$('#student_stream').append(data.stream);
			$('#student_email').append(data.email);
			$('#student_phone').append(data.phone);

		});
	});

	$(document).ready(function () {
		var attendance = <%- JSON.stringify(attendance) %>;
		var hours_present = 0;
		var hours_absent = 0;
		$.each(attendance, function(index, value){
			if(value.attendance === 'P'){
				hours_present = hours_present + value.duration_of_class;
			}
			if(value.attendance === 'A'){
				hours_absent = hours_absent + value.duration_of_class;
			}
		})

		google.charts.load('current', {'packages':['corechart']});
	      google.charts.setOnLoadCallback(drawChart);

	      function drawChart() {

	        var data = google.visualization.arrayToDataTable([
	          ['Attendance', 'Hours'],
	          ['Hours Present',     hours_present],
	          ['Hours Absent',      hours_absent]
	        ]);

	        var options = {
	          title: 'Attendance Stats'
	        };

	        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

	        chart.draw(data, options);
	      }
	});

</script>

<div class="container">
	<div class="row" style="min-height: 30em;">
		<div class="col-md-4 left-align">
		<h2 class="heading">STUDENT DETAILS</h2>
		
			<span id="student_enroll"><span class="marked-heading">Erollment No.: </span> </span>
			<br><br>
			<span class="student_name"><span class="marked-heading">Name : </span></span>
			<br><br>
			<span id="student_course"><span class="marked-heading">Course : </span></span>
			<br><br>
			<span id="student_stream"><span class="marked-heading">Stream : </span></span>
			<br><br>
			<span id="student_email"><span class="marked-heading">Email : </span></span>
			<br><br>
			<span id="student_phone"><span class="marked-heading">Phone No.: </span> </span>
			<br>
			
		</div>
		<div class="col-md-8">
			<div id="piechart" class="card">
				
			</div><br>

			<div class="card material-table">
				<div class="table-header">
					<span class="table-title">Attendance for <span style="color: teal;" class="student_name"></span></span>
					<div class="actions">
						<a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
					</div>
				</div>

				<table id="datatable" class="striped centered">
					<thead>
						<tr>
							<th>Lecture Date</th>
							<th>Lecture Time</th>
							<th>Present/Absent</th>
							<th>Duration of lecture(in Hours)</th>
						</tr>
					</thead>
					<tbody>
						<% for(var i=0 ; i<attendance.length; ++i){ %>
						<% if(attendance[i].attendance !== "NA"){ %>

						<tr>
							<% var date = new Date(attendance[i].lecture_timestamp) %>
							<td><%=  moment(date).format('DD/MM/YYYY')  %></td>
							<td><%=date.toLocaleTimeString()%></td>
							<% if(attendance[i].attendance === 'P'){ %>
							<td style="color: green;">Present</td>
							<% }else{ %>
							<td style="color: red;">Absent</td>
							<% } %>
							<td><%=attendance[i].duration_of_class%></td>
						</tr>   

						<% } %>
						<% } %>
					</tbody>
				</table>


			</div>




		</div>
	</div>

</div>


<% include partials/footer %>