<!DOCTYPE html>
<% include partials/header %>
<% include partials/user_card %>
<style type="text/css">
	.heading{
		font-size: 3em;
	    text-align: center;
	    font-weight: 200;
	    color: teal;
	}
</style>
<div class="container">
	<div class="row">
		<div class="login-card-title center-align">
			<h5 class="heading">YOUR SUBJECTS:</h4>
		</div>
	</div>
	<div class="row">
		<div class="right">
			<a style="margin-bottom: 1em;" class="btn waves-effect waves-light right " type="submit" name="action" href ="/teacher/add_subject"> Add Subjects
	    </a>
		</div>
	</div>
</div>

<div class="container-fluid" style="text-align: center;">
	<div class="align-center row">
		<div class="card valign-wrapper" style="width: 100%; padding: 10px;">
			<div class="col-sm-4 valign center-align">
				<span class="sub-course">SUBJECT NAME:</span>
			</div>
			<div class="col-sm-4 valign center-align">
				<span class="sub-course">COURSE: </span>
				<span class="sub-course">STREAM: </span>
				<span class="sub-course">SUBJECT CODE</span>
			</div>
			<div class="col-sm-4 valign center-align">
				<span class="sub-course">ACTIONS:</span>
			</div>
		</div>
		<% if(subjects.length) { %>
		<% for(var i=0; i<subjects.length ; ++i){ %>
		<div class="card valign-wrapper" style="width: 100%; padding: 10px;">
			<div class="col-md-4 valign center-align">
				<a href="/teacher/attendance_marked/<%=subjects[i].batch_id%>/<%=subjects[i].subject_id%>/"><span class="sub-code" style="text-decoration: underline;"><%=subjects[i].subject_name%></span>
				</a>	
			</div>
			<div class="col-md-4 valign center-align">
				<span class="sub-course"><%=subjects[i].course%>:</span>
				<span class="sub-stream"><%=subjects[i].stream%>:</span>
				<span class="sub-code"><%=subjects[i].subject_code%></span>
			</div>
			<div class="col-md-4 valign center-align">
				<a href="/teacher/attendance_marked/<%=subjects[i].batch_id%>/<%=subjects[i].subject_id%>/" class="btn waves-effect waves-light actionbtn">View<span class="hide-on-med-and-down">&nbsp;Class</span></a>
				<a href="/teacher/attendance/<%=subjects[i].batch_id%>/<%=subjects[i].subject_id%>/" class=" btn waves-effect waves-light actionbtn">Mark</a>
				<a href="/teacher/edit_attendance/<%=subjects[i].batch_id%>/<%=subjects[i].subject_id%>/" class=" btn waves-effect waves-light actionbtn">Edit</a>
			</div>
		</div>
		<% } %>
		<% } else { %>
		<h4 class="marked-heading">You have not added your subjects yet. Please add your subjects to be listed here.</h4>
		<% } %>
	</div>
</div>
<br>
<% include partials/footer %>

<style type="text/css">
 .marked-heading{
  font-size: 1em;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  font-weight: 900;
  color: #999;
}
	.parent-wrapper {
		height:100%;
	}
	.parent {
		display: flex;
		flex-wrap:wrap;
		margin:-10px 0 0 -10px;
	}
	.child {
		display: inline-block;
		/* margin: 10px 0 0 10px; */
		flex-grow: 1;
		width: calc(100% * (1/3) - 30px - 1px);
		margin: 1em 1em 1em 1em;
	}
	.subject-card .card-title{
		margin-left: 1em;
		margin-top: 0.5em;
		text-align: left;
		color: darkcyan;
		font-weight: 500;
		letter-spacing: 0.1em;
	}
	.subject-card .card-action{
		margin-right: 0em;
		display: flex;
		text-align: justify;
	}
	.subject-card .card-action a{
		flex: 1;
		margin-left: 1em;
		margin-right: 1em;
	}
	.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
		color: darkslategray;
		/* margin-right: 20px; */
		transition: color .3s ease;
		text-transform: uppercase;
		background: #0d47a1;
		padding: 0.5em;
		color: aliceblue;
		margin-right: 3em;
		/* font-weight: 500; */
		letter-spacing: 0.02em;
	}
	.card-title-custom span{
		flex: 1;
		font-size: 1.2em;
	}
	.card-title-custom{
		padding:0.5em;
		display: flex;
	}
	.sub-course{
		color: #0d47a1;
		font-weight: 500;
		letter-spacing: 0.1em;
	}
	.sub-stream{
		color: darkslategrey;
		font-weight: 500;
		letter-spacing: 0.1em;
	}
	.sub-code{
		color: #009688;
		font-weight: 500;
		letter-spacing: 0.1em;
	}
	.actionbtn {
		margin-top: 1em;
		margin-bottom: 1em;
	}
</style>