<!DOCTYPE html>
<% include partials/header %>

<div class="container" style="text-align: center;">

<%= user.instructor_id %>
<%= user.name %>
<%= user.email %>
<%= user.designation %>
<%= user.date_of_joining %>

</div>
<% include partials/footer %>