<!DOCTYPE html>

<% include partials/header %>
<style type="text/css">
  .date-attendance{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: darkcyan;
    letter-spacing: 0.2em;
  }
  .attendance-heading{
    font-size: 3em;
    text-align: center;
    font-weight: 200;
  }
  .marked-heading{
    font-size: 1.1em;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: 900;
    color: darkslategray;
  }
  .heading{
    font-size: 3em;
    text-align: center;
    font-weight: 200;
    color: teal;
  }
</style>
<!-- <script type="text/javascript">
  $(document).ready(function () {
      var subject_id = <%-subject_id%>;
      $.getJSON('/api/subjects/' + subject_id, function (data) {
      $('#heading')[0].append(data[0].subject_name + '(' + data[0].subject_code + ')');
    });
  });

</script> -->


<h4 id="heading" class="heading container">ATTENDANCE FOR CLASS <br></h4><br>
<h5 class="marked-heading">CLICK ON ENROLLMENT NUMBER OR NAME FOR MORE DETAILS</h5>
<div class="container" style="display: flex; justify-content: space-between;">





	<div class="col-md-12" style="padding: 1em; margin: 1em;">
    <div class="card material-table">
      <div class="table-header">
        <span class="table-title">Attendance for class</span>
        <div class="actions">
          <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
        </div>
      </div>

      <table id="datatable" class="striped centered">
        <thead>
          <tr>
            <th>Enrollment Number</th>
            <th>Name</th>
            <th style="color: green;">Hours present</th>
            <th style="color: red;">Hours absent</th>
          </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<students.length ; ++i){ %>
        <tr>
          <td><a href="<%=students[i]['enrollment_no']%>" style="color: blue;"><%=students[i]['enrollment_no']%></a></td>
          
          <td><a href="<%=students[i]['enrollment_no']%>" style="color: blue;"><%=students[i]['name']%></a></td>
          
          <% if(present[students[i]['enrollment_no']]){ %>
          <td style="color: green;"><span style="font-weight: bold;"><%=present[students[i]['enrollment_no']]%></span></td>
          <% }else{ %>
          <td style="color: green;"><span style="font-weight: bold;">0</span></td>
          <% } %>

          <% if(absent[students[i]['enrollment_no']]){ %>
          <td style="color: red;"><span style="font-weight: bold;"><%=absent[students[i]['enrollment_no']]%></span></td>
          <% }else{ %>
          <td style="color: red;"><span style="font-weight: bold;">0</span></td>
          <% } %>
          
        </tr>    
        <% } %>
        
        
      </tbody>
    </table>

  </div>
</div>


<!-- <div class="card col-md-6" style="padding: 1em; margin: 1em;">
  <h5 class="marked-heading">Student Absent:</h5>
  <table class="striped centered">
    <thead>
      <tr>
        <th>Enrollment Number</th>
        <th>Hours Absent</th>
      </tr>
    </thead>
    <tbody>
     <% for(var i=0; i<absent.length ; ++i){ %>
     <tr>
      <td><a href="<%=absent[i]['student']%>"><%=absent[i]['student']%></a></td>
      <td><%=absent[i]['sum(duration_of_class)']%></td>
    </tr>    
    <% } %>
  </tbody>
</table>

</div> -->


</div>


<% include partials/footer %>